body{
  background-color: rgb(248, 249, 250);
}

@media (max-width: 760px) {
  h1{
    margin-top: -10%;
    font-weight: bold;
  }
  h3{
    font-size: 20px;
  }
  .cont{
    margin-left: 5%;
    margin-right: 5%;
  }
  .log-card {
      max-width: 90%;
      margin-top: 10%;
    
  }
}

.container-center {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 50vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  text-align: center; /* Añade centrado de texto */
  margin-bottom: 5%;
}
.log-card {
  background-color: rgb(247, 245, 219);
  font-family:sans-serif;
  position: absolute;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 20px;
  font-weight: bold;
}

.heading {
  font-size: 28px;
  font-weight: 800;
}

.input {
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  padding: 8px 16px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 600;
  color: #2879f3;
}

.checkbox-group {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #2879f3;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.5s;
}
button:hover{
  background-color: green;
  transition: 0.5s;
}
.cont{
  margin-left: 15%;
  margin-right: 15%;
}